<h1>New division</h1>

<form action="/wizard_divide" method="get">
  <label for="first_number">Divide this:</label>
  <input type="text" id="first_number" name="first_number">

  <label for="second_number">by this:</label>
  <input type="text" id="second_number" name="second_number">

  <button>Divide!</button>
</form>
