<h1>New subtraction</h1>

<form action="/wizard_subtract" method="get">
  <label for="first_number"> Subtract this:</label>
  <input type="text" id="first_number" name="first_number">

  <label for="second_number">from this:</label>
  <input type="text" id="second_number" name="second_number">

  <button>Subtract!</button>
</form>
