<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="first_number">Add this</label>
  <input type="text" id="first_number" name="first_number">

  <label for="second_number">to this:</label>
  <input type="text" id="second_number" name="second_number">

  <button>Add!</button>
</form>
